<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/AboutUs.css">
</head>
<body>


<main class="wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/AboutUs">About</a></li>
                    <li><a href="#">How to</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <section class="section parallax bg1">
        <div class="container-fluid">
            <h1 style="color:#efefef; font-family: Roboto, sans-serif; text-align: center; padding-top: 15%; font-size: 700%; ">About Us</h1>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <h2 style="color: #efefef; font-weight: 700; font-size: 5em; text-shadow: 0 0 5px #000; font-family: Roboto, sans-serif; text-align: center; padding-top: 10%; font-size: 500% ;"><strong>MEET THE TEAM</strong></h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
        <!-- <section class="section static"> -->
        <div class="row-fluid">
            <div class="col-md-4">
                <div>
                    <a href="/w3images/lights.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/McDonalds_Lugano_Switzerland.jpg" alt="Lights" style="width:100%; border-radius: 50%" class="img-rounded" class="img-responsive" >
                        <div class="caption">
                            <p class="capt">Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <a href="/w3images/nature.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/KFC%2C_Ilorin.JPG" alt="Nature" style="width:100%; border-radius: 50%" class="img-rounded" class="img-responsive">
                        <div class="caption">
                            <p class="capt">Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <a href="/w3images/fjords.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Cabo_Verde_Fogo_CokeBooth.JPG" alt="Fjords" style="width:100%; border-radius: 50%"class="img-rounded" class="img-responsive" >
                        <div class="caption">
                            <p class="capt">Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <a href="/w3images/nature.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/KFC%2C_Ilorin.JPG" alt="Nature" style="width:100%; border-radius: 50%"class="img-rounded" class="img-responsive">
                        <div class="caption">
                            <p class="capt">Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <a href="/w3images/fjords.jpg">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Cabo_Verde_Fogo_CokeBooth.JPG" alt="Fjords" style="width:100%; border-radius: 50%"class="img-rounded" class="img-responsive">
                        <div class="caption">
                            <p class="capt">Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- </section> -->
    </div>

    <!--
    <style>
        #myDIV {
           margin: auto;
        border: 1px solid black;
        width: 200px;
        height: 100px;
        background-color: coral;
        color: white;
        -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
        animation: mymove 5s infinite;
        }

        @-webkit-keyframes mymove {
        50% {-webkit-transform: rotateY(180deg);}
        }

        @keyframes mymove {
        50% {transform: rotateY(180deg);
        }
    </style>
    <div id="myDIV">
      <h1>myDIV</h1>
    </div>
    -->



    <!-- Now we add the grid  -->
    <footer class="container-fluid foot">
        <div class="row">
            <div class="col-sm-5">
                <h3>Free Coupons</h3>
                <h5>Your stop for best deals in Patiala</h5>
            </div>
            <div class="col-sm-7">
                <p class="Heading"><b>Links</b></p>
                <a href="">Get in touch</a>
                <br>
                <a href="">Know more about us</a>
                <br>
                <a href="">Our Partners!</a>
            </div>
        </div>
        <div class="row">
            <p>Love us? Do join us on social media..</p>
            <div class="container text-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </footer>


</main>



<!-- <div class="container">
<div class="row">
	    	<div class="col-lg-4">
	    		<div class="thumbnail">
	    			<img src="https://upload.wikimedia.org/wikipedia/commons/0/09/McDonalds_Lugano_Switzerland.jpg">
	    		</div>
	    	</div>
	    </div>
	    </div> -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>