<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form method="post" action="/adminprivate/add">
   vendor name: <input type="text" name="vendorname">
    <br/>couponn1price:<input type="text" name="coupon1price">
    <br/>couponn1no:<input type="text" name="coupon1no">
    <br/>couponn2price:<input type="text" name="coupon2price">
    <br/>couponn2no:<input type="text" name="coupon2no">
    <br/>password:<input type="password" name="password">
    <input type="submit" value="add vendor">
</form>
</body>
</html>