<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form method="post" action="/admin/adminlogin">
    <input name="username" placeholder="username" required>
    <input name="password" placeholder="password" required>
    <input type="submit">
</form>
</body>
</html>