<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body>
<form method="post" action="/adminprivate/salecreate">
    <input name="noofcoupun" placeholder="no of coupons" required>
    <input name="price" placeholder="price" required>

    <input type="submit">
</form>
</body>
</html>