<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
hi admin
<form method="post" action="/admin/adminloggedin">

    <input type="submit" placeholder="logout">
</form>

<form method="post" action="/admin/adminuserdata">
    username:<input type="text" name="username">
    <input type="submit" placeholder="submit" >
</form>

</body>
</html>