<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
hi admin
<form method="post" action="/admin/adminloggedin">

    <input type="submit" placeholder="logout">
</form>

<form method="post" action="/admin/adminuserdata">
    username:<input type="text" name="username">
    <input type="submit" placeholder="submit" >
</form>
<form method="post" action="/admin/modifydata">
    enter username:<input type="text" name="username">
    enter the cashback to be added or subtracted:
    <input type="text" name="cashback" placeholder="enter amount">
    <input type="submit" >
</form>
<form  method="post" action="/admin/requestdb">
    See all the request
    <input type="submit">
</form>

</body>
</html>