<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
you are loggedin
<form method="post" action="/loggedin">

    <input type="submit" placeholder="logout">
</form>
<form method="post" action="/admin/requests">
    enter amount of bill:<input type="text" name="amount">
    <input type="submit" >
</form>

Cashback:{{cashback}}
</body>
</html>