<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body>
<form method="post" action="/adminprivate/modify">
   add <br/>
    vendor name: <input type="text" name="vendorname">
    <br/>password:<input type="password" name="password">
    make changes
    <br/>new couponn1price:<input type="text" name="coupon1price">
    <br/>new couponn1no:<input type="text" name="coupon1no">
    <br/> new couponn2price:<input type="text" name="coupon2price">
    <br/> new couponn2no:<input type="text" name="coupon2no">

    <input type="submit" value="modify vendor">
</form>
</body>
</html>