<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
Hurry up:<br/>
worth price of each coupon:{{sale.couponprice}}<br/>
no of coupon left:{{sale.couponno}}<br/>
<form method="post" action="/private/salecoupon">
    <input type="submit" value="buy">
</form>
</body>
</html>