<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<form method="post" action="/signup">
    <input name="firstname" placeholder="firstname">
    <input name="lastname" placeholder="lastname">
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <input name="email" placeholder="enter your email">
    <input type="submit">
</form>
</body>
</html>
i mad some changes