<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
Our vendors
<form method="post" action="/private/vendor">
    <input type="submit" value="baskin" name="vendorname" >
    <input type="submit" value="cocos" name="vendorname" >
</form>
</body>
</html>