<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body>
<form method="post" action="/private/code">
  <input type="text" name="code"  placeholder="enter the code"/>
    <input type="hidden" value="{{password}}" name="password"/>
    <input type="submit" placeholder="verify"/>
</form>
</body>
</html>