<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form method="post" action="/verify">
    Verify your email
    Enter the secret token which is mailed to you:<input name="secrettoken" placeholder="secret token">
    <input type="submit">
</form>
</body>
</html>